# Maven
target/
build/

# Allure & Reports
allure-results/
allure-report/
reports/

# Logs
*.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac
.DS_Store

# Kotlin
.kotlin

# Jenkins / temp
*.tmp
