<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Payment API Suite">
    <listeners>
        <!-- Your custom listener -->
        <listener class-name="listeners.TestListener"/>
        <!-- Add Allure listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Paypal Tests Cases">
        <classes>
            <class name="tests.PaypalAuthTest"/>
            <class name="tests.PaypalOrderTest"/>
        </classes>
    </test>
</suite>
